{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Blog Post 2{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>I'll create a simple webapp using Flask and desribe how I did it.</p>
 
  <p>1.Flask fundamentals,including render_template(), the basic anatomy of templates, and user interactions.</p>
  
  <p>2.Database skills,including adding items to databases and displaying them.</p>
  
  <p>3.Basic CSS in order to add a bit of personal flare to my webapp.</p>

{% endblock %}